html,body{
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
  height: 100%
}
iframe {
  overflow: hidden;
}
.one{
  display: inline-block;
  width: 69%;
  height: 30%;
}
.two{
  display: inline-block;
  width: 29%;
  height: 30%;
}
.tree{
  display: inline-block;
  width: 29%;
  height: 30%;
}
.four{
  display: inline-block;
  width: 39%;
  height: 30%;
}
.five{
  display: inline-block;
  width: 29%;
  height: 30%;
}
.six{
  display: inline-block;
  width: 39%;
  height: 40%;
}
.seven{
  display: inline-block;
  width: 29%;
  height: 40%;
}
.eight{
  display: inline-block;
  width: 29%;
  height: 40%;
}
.a1, .a2, .a3, .a4,  .a5, .a6, .a7, .a8 {
  width:100%; 
  height:100%;
  border:none;
  margin: 0px;
  padding: 0px;
}